<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  layout:decorate="~{layout/bank}">



<head>

</head>
<body>
<div layout:fragment="content" class="m-3 p-3">
	<div class="container">



		<div class="row mt-3 w-75 m-auto">

			<div class="col">

				<div class="container">
					<button class="btn" id="open">계좌열기</button>


					<div class="border rounded rounded-4 mt-5 " id="accounts">


					</div>



				</div>




			</div>

		</div>

	</div>

</div>


</body>
<script>
	$(function(){
		$('#accounts').heid()

		$('#open').click(function(){


		})


	})

</script>


</html>